n8n-workflow-smart-lead-router.json
{
  "name": "Telos — Smart Lead Router with Follow-up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telos-new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook — New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "table": "leads",
        "columns": "name,email,company,project_summary,budget_range,timeline,automation_area,source,quote_status",
        "additionalFields": {
          "quote_status": "={{ $json.budget_range && $json.timeline ? 'ready' : 'incomplete' }}"
        }
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 400],
      "credentials": {
        "supabaseApi": "Supabase"
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.budget_range !== null && $json.budget_range !== '' }}",
              "value2": true
            },
            {
              "value1": "={{ $json.timeline !== null && $json.timeline !== '' }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "all"
      },
      "name": "Router — Check Data Completeness",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "functionCode": "// Generate HTML for PDF quote\nconst lead = items[0].json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; padding: 40px; }\n    h1 { color: #2563eb; }\n    .section { margin: 30px 0; }\n    .label { font-weight: bold; color: #64748b; }\n    .value { color: #1e293b; }\n  </style>\n</head>\n<body>\n  <h1>AI Automation Proposal</h1>\n  <div class=\"section\">\n    <p class=\"label\">For:</p>\n    <p class=\"value\">${lead.name} at ${lead.company}</p>\n  </div>\n  <div class=\"section\">\n    <p class=\"label\">Project:</p>\n    <p class=\"value\">${lead.project_title || lead.automation_area}</p>\n  </div>\n  <div class=\"section\">\n    <p class=\"label\">Summary:</p>\n    <p class=\"value\">${lead.project_summary}</p>\n  </div>\n  <div class=\"section\">\n    <p class=\"label\">Timeline:</p>\n    <p class=\"value\">${lead.timeline}</p>\n  </div>\n  <div class=\"section\">\n    <p class=\"label\">Investment Range:</p>\n    <p class=\"value\">${lead.budget_range}</p>\n  </div>\n  <div class=\"section\">\n    <p>This proposal is valid for 30 days.</p>\n    <p><strong>Stay Human. Stay Ahead.</strong><br>— Are You Human?</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html, ...lead } }];"
      },
      "name": "Generate PDF HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://api.html2pdf.app/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "format",
              "value": "A4"
            }
          ]
        },
        "options": {}
      },
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fromEmail": "telos@areyouhuman.studio",
        "toEmail": "={{ $json.email }}",
        "subject": "Your Custom AI Automation Proposal",
        "attachments": "={{ $json.pdf }}",
        "html": "<h2>Hey {{ $json.name }},</h2>\n\n<p>Your custom AI automation proposal is ready! 🎉</p>\n\n<p><strong>Project:</strong> {{ $json.project_title }}<br>\n<strong>Timeline:</strong> {{ $json.timeline }}<br>\n<strong>Investment:</strong> {{ $json.budget_range }}</p>\n\n<p>I've attached your detailed proposal as a PDF. Review it and let me know if you have any questions!</p>\n\n<p><strong>Stay Human. Stay Ahead.</strong><br>— Telos</p>"
      },
      "name": "Send Quote Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "smtp": "SMTP"
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "update",
        "table": "leads",
        "filterType": "manual",
        "matchingColumns": "email",
        "columns": "quote_status,quote_url",
        "additionalFields": {
          "quote_status": "quoted",
          "quote_url": "={{ $json.pdf_url }}"
        }
      },
      "name": "Update Lead — Quoted",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "fromEmail": "telos@areyouhuman.studio",
        "toEmail": "={{ $json.email }}",
        "subject": "Quick follow-up — Let's complete your project details",
        "html": "<h2>Hey {{ $json.name }},</h2>\n\n<p>Thanks for chatting with me about your <strong>{{ $json.automation_area }}</strong> project!</p>\n\n<p>To prepare your custom proposal, I just need a bit more info:</p>\n\n<ul>\n  {{ $json.budget_range ? '' : '<li>💰 What's your ballpark budget?</li>' }}\n  {{ $json.timeline ? '' : '<li>🕒 When do you need this live?</li>' }}\n</ul>\n\n<p>Just hit reply and let me know — it'll take 30 seconds!</p>\n\n<p>Or if you prefer, <a href=\"https://areyouhuman.studio/chat\">continue our conversation here</a>.</p>\n\n<p><strong>Stay Human. Stay Ahead.</strong><br>— Telos</p>"
      },
      "name": "Follow-up Email 1 (Immediate)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "update",
        "table": "leads",
        "filterType": "manual",
        "matchingColumns": "email",
        "columns": "quote_status,followup_sequence",
        "additionalFields": {
          "quote_status": "nurturing",
          "followup_sequence": 1
        }
      },
      "name": "Update Lead — Nurturing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 3
      },
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "fromEmail": "telos@areyouhuman.studio",
        "toEmail": "={{ $json.email }}",
        "subject": "Still interested in {{ $json.automation_area }}?",
        "html": "<h2>Hey {{ $json.name }},</h2>\n\n<p>Just checking in! I know things get busy, but I didn't want your project to slip through the cracks.</p>\n\n<p>Your idea for <strong>{{ $json.automation_area }}</strong> at {{ $json.company }} sounded really exciting.</p>\n\n<p>If you're still interested, I'd love to help you move forward. Just reply with:</p>\n\n<ul>\n  <li>💰 Your budget range (even a rough estimate)</li>\n  <li>🕒 Your ideal timeline</li>\n</ul>\n\n<p>Or let me know if now's not the right time — no pressure!</p>\n\n<p><strong>Stay Human. Stay Ahead.</strong><br>— Telos</p>"
      },
      "name": "Follow-up Email 2 (Day 3)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 500]
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 7
      },
      "name": "Wait 7 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1650, 500]
    },
    {
      "parameters": {
        "fromEmail": "telos@areyouhuman.studio",
        "toEmail": "={{ $json.email }}",
        "subject": "Last check-in from Telos",
        "html": "<h2>Hey {{ $json.name }},</h2>\n\n<p>This is my last follow-up (I promise! 😊)</p>\n\n<p>I wanted to make sure you got what you needed. If you're ready to move forward with <strong>{{ $json.automation_area }}</strong>, I'm here.</p>\n\n<p>If not right now, that's totally fine too. I'll keep your project details on file, so you can reach out whenever you're ready.</p>\n\n<p><a href=\"https://areyouhuman.studio/chat\">Chat with me anytime</a> — I'm always here.</p>\n\n<p><strong>Stay Human. Stay Ahead.</strong><br>— Telos</p>"
      },
      "name": "Follow-up Email 3 (Day 10)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1850, 500]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "update",
        "table": "leads",
        "filterType": "manual",
        "matchingColumns": "email",
        "columns": "quote_status,followup_sequence",
        "additionalFields": {
          "quote_status": "cold",
          "followup_sequence": 3
        }
      },
      "name": "Update Lead — Cold",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2050, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, route: 'quoted', message: 'Quote sent' } }}"
      },
      "name": "Respond — Quoted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, route: 'nurturing', message: 'Follow-up sequence started' } }}"
      },
      "name": "Respond — Nurturing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 600]
    }
  ],
  "connections": {
    "Webhook — New Lead": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    },
    "Save to Supabase": {
      "main": [[{ "node": "Router — Check Data Completeness", "type": "main", "index": 0 }]]
    },
    "Router — Check Data Completeness": {
      "main": [
        [{ "node": "Generate PDF HTML", "type": "main", "index": 0 }],
        [{ "node": "Follow-up Email 1 (Immediate)", "type": "main", "index": 0 }]
      ]
    },
    "Generate PDF HTML": {
      "main": [[{ "node": "Convert to PDF", "type": "main", "index": 0 }]]
    },
    "Convert to PDF": {
      "main": [[{ "node": "Send Quote Email", "type": "main", "index": 0 }]]
    },
    "Send Quote Email": {
      "main": [[{ "node": "Update Lead — Quoted", "type": "main", "index": 0 }]]
    },
    "Update Lead — Quoted": {
      "main": [[{ "node": "Respond — Quoted", "type": "main", "index": 0 }]]
    },
    "Follow-up Email 1 (Immediate)": {
      "main": [[{ "node": "Update Lead — Nurturing", "type": "main", "index": 0 }]]
    },
    "Update Lead — Nurturing": {
      "main": [
        [
          { "node": "Wait 3 Days", "type": "main", "index": 0 },
          { "node": "Respond — Nurturing", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [[{ "node": "Follow-up Email 2 (Day 3)", "type": "main", "index": 0 }]]
    },
    "Follow-up Email 2 (Day 3)": {
      "main": [[{ "node": "Wait 7 Days", "type": "main", "index": 0 }]]
    },
    "Wait 7 Days": {
      "main": [[{ "node": "Follow-up Email 3 (Day 10)", "type": "main", "index": 0 }]]
    },
    "Follow-up Email 3 (Day 10)": {
      "main": [[{ "node": "Update Lead — Cold", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "id": "telos-smart-lead-router"
}

